.shop-img {
    object-fit:cover;
    object-position: right;
    width:100%;
    height:300px;
}

.img-cover {
    object-fit:cover;
    object-position: right;
}

#detach-button-host {
    display: none !important;
}
